<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logLayout"
            value="Logger：${logger}${newline}Date：${longdate} Level：${uppercase:${level}}${newline}Message：${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />

  <targets>
    <target xsi:type="AsyncWrapper" name="asyncFile">
      <target xsi:type="File"
              name="log_file"
              fileName="${basedir}/logs/${shortdate}/${shortdate}.txt"
              layout="${logLayout}"
              archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
              archiveAboveSize="102400"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              keepFileOpen="true" 
              encoding="utf-8"
              openFileCacheTimeout="30"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
  </rules>
</nlog>